body {
  margin: auto;
  max-width: 700px;
  line-height: 1.4;
  font-family: sans-serif;
}

nav ul {
  margin: 1em 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 0.5em;
}

.screenshot {
  max-width: 100%;
  padding: 8px;
  box-shadow: 0 0 8px grey;
}
